<footer>
  <div class="details" >
    <ul class="sec" >
      <li>
        <img src="assets/logo.png" alt="" width="100px" >
        <div>
          <ul>
            <li>About us</li>
            <li>FAQ</li>
            <li>Terms & Conditions</li>
            <li>Privacy Policy</li>
          </ul>
        </div>
      </li>
      <li>
        <h4>Footer 2</h4>
        <div>
          <ul>
            <li>Men</li>
            <li>Women</li>
            <li>New arrivals</li>
            <li>Clan Membership</li>
            <li>Gift Vouchers</li>
          </ul>
        </div>
      </li>
      <li>
        <h4>Footer 2</h4>
        <div>
          <ul>
            <li>Men</li>
            <li>Women</li>
            <li>New arrivals</li>
            <li>Clan Membership</li>
            <li>Gift Vouchers</li>
          </ul>
        </div>
      </li>
      <li>
        <h4>CONTACT US</h4>
        <div>
          <ul class="socials" >
            <li>Facebook</li>
            <li>Twitter</li>
            <li>LinkedIn</li>
          </ul>
          <div class="join">
            <input type="email" name="" id=""><button>Join Now</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="copyright">
    <p>© Lydburg 2021.All Right Reserved</p>
  </div>
</footer>
