<header>
  <div class="highlight">
    <h4>USE COUPON CODE DFGH TO AVAIL 30% DISCOUNT</h4>
    <p>🗺️ Track Order</p>
  </div>
  <div class="nav">
    <div class="menu" (click)="openMenu()" ><img style="margin-top: 5px;
      margin-right: 10px;" src="https://img.icons8.com/material-outlined/24/000000/menu--v1.png"/></div>
    <div class="logo" ><img src="assets/logo.png" alt="logo" width="100" ></div>
    <div style="flex: 1;" ></div>
    <div class="header-sec" id="m">
      <ul>
        <li>
          <a href="http://" target="_blank">MEN</a>
          <div class="inner" >
            <div class="nested-list">
              <a href="http://" target="_blank">MEN Wear</a>
              <ul>
                <li> <a href=""></a>1</li>
                <li> <a href=""></a>2</li>
              </ul>
            </div>
            <div class="nested-list">
              <a href="http://" target="_blank">footwear</a>
              <ul>
                <li> <a href=""></a>3</li>
                <li> <a href=""></a>4</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="http://" target="_blank">WOMEN</a>
          <div class="inner">
            <div class="nested-list">
              <a href="http://" target="_blank">top</a>
              <ul>
                <li> <a href=""></a>1</li>
                <li> <a href=""></a>2</li>
              </ul>
            </div>
            <div class="nested-list">
              <a href="http://" target="_blank">footware</a>
              <ul>
                <li> <a href=""></a>3</li>
                <li> <a href=""></a>4</li>
              </ul>
            </div>
          </div>
        </li>
        <li>
          <a href="http://" target="_blank">FEATURED</a>
          <div class="inner" >
            <div class="nested-list">
              <a href="http://" target="_blank">MEN</a>
            </div>
            <div class="nested-list">
              <a href="http://" target="_blank">MEN</a>
            </div>
            <div class="nested-list">
              <a href="http://" target="_blank">MEN</a>
            </div>
          </div>
        </li>
        <li>
          <a href="http://" target="_blank">MEMBERSHIP</a>
        </li>
        <li>
          <a href="http://" target="_blank">GIFT CARDS</a>
        </li>
      </ul>
    </div>
    <div class="header-icons">
      <ul>
        <li><a href="">🔎</a></li>
        <li><a href="">🧔</a></li>
        <li><a href="">🖤</a></li>
        <li><a href="">👜</a></li>
      </ul>
    </div>
  </div>
</header>
