html,body {
  margin: 0;
  font-family: 'Cabin', sans-serif;
  // background-color: #def1ff6e;
  height: 100%;
  h1,h2,h3,h4,h5,h6,p{
    margin: 5px;
  }
  a{
    text-decoration: none;
    color: unset;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
